---
ci:
    autoupdate_schedule: quarterly

repos:

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-json
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
            args: [--preserve-quotes]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.13.3
      hooks:
          - id: ruff-format
          - id: ruff
            args: [--fix, --exit-non-zero-on-fix, --show-fixes]

    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: "0.34.0"
      hooks:
          - id: check-dependabot
          - id: check-github-workflows
