---
ci:
    autoupdate_schedule: quarterly

repos:

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-json
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
            args: [--preserve-quotes]

    - repo: https://github.com/psf/black
      rev: 24.3.0
      hooks:
          - id: black

    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: "0.27.3"
      hooks:
          - id: check-dependabot
          - id: check-github-workflows
