---
version: '3.4'

services:

    aiidalab:
        # image: ${REGISTRY:-}${FULL_STACK_IMAGE:-aiidalab/qe}${VERSION:-}
        image: aiidalab/qe:aiida-2.3.1
        environment:
            TZ: Europe/Zurich
            DOCKER_STACKS_JUPYTER_CMD: notebook
            SETUP_DEFAULT_AIIDA_PROFILE: 'true'
            AIIDALAB_DEFAULT_APPS: ''
        volumes:
            - aiidalab-home-folder:/home/jovyan
        ports:
            - "0.0.0.0:${AIIDALAB_PORT:-}:8888"

volumes:
    aiidalab-home-folder:
