[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiidalab = "~=20.11.0b0"
aiidalab-widgets-base = "~=1.0.0b12"
aiida-core = {extras = ['rest', 'atomic_tools'],version = "~=1.2"}
aiida-bigdft = "~=0.2"
aiida-codtools = "~=2.0"
aiida-cp2k = "~=1.1"
aiida-crystal17 = "~=0.11"
aiida-ddec = "~=1.0"
aiida-diff = "~=1.1"
aiida-fleur = "~=1.1"
aiida-lammps = "~=0.8"
aiida-lsmo = "~=1.0.0b2"
aiida-nanotech-empa = "~=0.1.0a1"
aiida-optimize = "~=0.3"
aiida-qeq = "~=1.0.0a1"
aiida-quantumespresso = "~=3.0"
aiida-raspa = "~=1.1"
aiida-siesta = "~=1.0"
aiida-tbmodels = "~=0.2"
aiida-vasp = "~=0.2.4"
aiida-wannier90 = "~=2.0"
aiida-yambo = "~=1.0"
aiida-zeopp = "~=1.1"
ase = "<3.20" # To be removed when https://github.com/lsmo-epfl/aiida-lsmo/issues/46 is fixed.
arrow = "~=0.15.5"
binaryornot = "~=0.4.4"
bokeh = "~=1.4" # Older versions require tornado to be higher than 5.0
bqplot = "~=0.12.0"
cookiecutter = "~=1.6.0"
ipywidgets = "<8.0.0"
lxml = "~=4.5.0"
Markdown = "~=3.1.1"
notebook = "~=5.7"
pysmiles = "~=1.0.0"
pythreejs = "~=2.1.1"
widget_periodictable = "~=2.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
