#aiidalab==21.11.1
git+https://github.com/ltalirz/aiidalab@41c362318b01aff27162fe4a9610962a01ed2a5e#egg=aiidalab
#aiidalab-widgets-base==1.1.1
git+https://github.com/aiidalab/aiidalab-widgets-base@e44c9434e97775c9d997bdd94134c6214e20a935#egg=aiidalab-widgets-base
aiida-core>=2.0.0a1
binaryornot~=0.4
bokeh~=2.0
bqplot~=0.12
cookiecutter~=1.6
markdown~=3.1
pysmiles~=1.0
pythreejs~=2.1
widget-periodictable~=2.1
