# Dependencies for notebook server and interaction with JupyterHub
jupyterhub==1.5.0
jupyterlab==3.0.17
notebook==6.4.10
# Detect notebooks written in MyST Markdown
jupytext==1.13.4
# Dependencies for jupyter widgets
bqplot==0.12.25
ipytree==0.1.8
ipywidgets-extended==1.0.5
nglview==2.7.7
widget-periodictable==2.1.5
# Used for exposing AiiDA REST API to the outside world
jupyter-server-proxy==3.2.1
# Install voila package and AiiDAlab voila template.
voila==0.2.10
voila-aiidalab-template==0.2.1
